@font-face {
  font-family: "YekanBakh";
  src: url("font/woff2/YekanBakh-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "YekanBakh";
  src: url("font/woff2/YekanBakh-Light.woff2");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "YekanBakh";
  src: url("font/woff2/YekanBakh-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "YekanBakh", sans-serif;
}
body {
  background-color: rgba(19, 19, 19, 1);
  color: #fff;
}
.hero {
  width: 100%;
  height: 100vh;
  padding-top: 10px;
  background-image: url("./img/header-yalda.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 20;
}
header {
  display: flex;
  align-items: center;
  padding: 0 50px;
}
header svg {
  margin-top: 20px;
  height: 40px;
}
.timer {
  display: flex;
  gap: 60px;
  text-align: center;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}
.time {
  font-size: 30px;
  font-weight: bold;
}

#seconds {
  color: #ffce31;
}
.label {
  font-size: 30px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 1);
}
.navbar {
  display: flex;
  gap: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  margin-top: 20px;
  width: max-content;
  padding: 5px 15px;
  border-radius: 12px;
}
.nav-button {
  background-color: #00fbff00;
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 8px;
  font-size: 15px;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
}
.active {
  background-color: rgba(255, 255, 255, 0.1);
}
.offer-text {
  display: flex;
  justify-items: baseline;
}
.offer-text h3 {
  font-size: 40px;
  font-weight: bold;
}
.offer-text span {
  color: #ff4400;
}
.offer-text p {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
}
#lottie-container {
  width: 150px;
}
.offer-text div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}
.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  flex: 0 1 calc(25% - 30px);
  border-radius: 12px;
  background-color: rgba(34, 34, 34, 1);
  transition: transform 0.3s ease, background 0.3s ease;
}
.cart img {
  margin-top: -25px;
}
.cart-content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 20px;
  margin-top: -20px;
}
.cart-granty {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart-granty p {
  display: flex;
  gap: 8px;
  font-size: 13px;
  justify-items: center;
}
.cart-price {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 10px;
  background-color: #ca81d90d;
  text-align: left;
  margin-top: 12px;
  padding: 15px 20px;
  font-size: 19px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.price-original {
  color: #ff0f0f;
  text-decoration: line-through;
  text-decoration-color: white;
}

.price-discounted {
  color: #22b45c;
}
.cart-price svg {
  margin-top: 5px;
  cursor: pointer;
}
.cart-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px 30px;
  margin: 0 auto;
  justify-content: center;
}
.cart:hover {
  background: linear-gradient(180deg, #272727 -7.54%, #b84a55 81.61%);
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.05),
    0px 4px 100px 2px rgba(0, 0, 0, 0.02);
  transform: scale(1.05);
}
.cart:hover .cart-pricet,
.cart:hover .cart-price {
  color: #fff;
}
.cart:hover .cart-price {
  background-color: #f4f4f41a;
}
.cart:hover .cart-price .price-original {
  color: #ffce32;
}
.cart:hover .cart-price .price-discounted {
  color: #fff;
}
.cart:hover .cart-price svg {
  fill: #ffce32;
  color: #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}
.cart:hover .cart-price svg path {
  stroke: #000;
}
.cart:hover .cart-price svg path:first-child {
  stroke: transparent;
}
.product_link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.comment_area {
  margin: 50px 0 !important;
}
.comment_area h3 {
  font-size: 25px;
  font-weight: 800;
}
.mySwiper {
  position: relative;
  padding-bottom: 30px !important;
}
.mySwiper .swiper-pagination {
  transform: translateX(-20%);
  left: 50%;
}
.mySwiper .comment_item {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='598' height='436' viewBox='0 0 598 436' fill='%23000'%3E%3Cpath d='M250.44 431.327C176.569 424.753 102.879 412.446 57.9301 369.518C13.112 326.614 -2.8345 253.112 1.05693 185.663C4.87059 118.267 28.6533 56.9472 72.4615 31.7644C116.294 6.45045 180.254 17.0886 230.868 16.2982C281.534 15.5856 318.801 3.36675 375.832 1.25653C432.916 -0.775985 509.633 7.27575 553.281 50.6411C596.952 93.8753 607.578 172.292 588.613 243.119C569.593 313.869 520.929 376.951 459.621 407.978C398.314 439.006 324.364 437.979 250.44 431.327Z' fill='%23FFFEFC'/%3E%3C/svg%3E");
  height: 300px;
  max-width: 500px;
  margin: 20px auto;
  position: relative;
  background-repeat: round;
  color: #000;
}
.mySwiper .commenter_image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  left: 20%;
  top: -10%;
  padding: 10px;
  object-fit: cover;
  object-position: center;
}
.mySwiper .commenter_name {
  position: absolute;
  right: 15%;
  top: 20%;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.mySwiper .comment_content {
  top: 33%;
  position: absolute;
  width: 65%;
  text-align: justify;
  margin: 0 auto;
  left: 18%;
  font-size: 13px;
  direction: rtl;
}
.mySwiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #a78a32;
  margin: 0 2px;
}
.mySwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ffce31;
}
.swiper-container {
  width: 500px;
  height: 330px;
  margin: 30px;
}
.comment-title {
  color: #ffce31;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  right: 15%;
}
.footer {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  margin: 80px 0;
  position: relative;
}
.footer-service {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}
.footer-service-comment {
  display: flex;
  justify-items: center;
  gap: 7px;
  margin-bottom: 7px;
}
.footer-service span {
  color: #ffce31;
  font-weight: bold;
}
.footer-service h4 {
  font-size: xxx-large;
  margin-top: 20px;
}
.footer-star {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  font-size: 18px;
}
.footer-star svg {
  width: 220px;
  margin-bottom: -20px;
  padding-right: 20px;
}
.copyright {
  background-color: #fffefc;
  color: #2b2b2b;
  text-align: center;
}
.copyright-footer {
  border-top: dashed #0000004d 1px;
  margin: 0 300px;
  padding: 10px 0;
}
.copyright p {
  padding: 10px 0;
}
.copyright div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.copyright a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #2b2b2b;
}
.button-up {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(19, 19, 19, 1);
  border: none;
  color: white;
  gap: 5px;
  position: absolute;
  bottom: 20%;
  left: 5%;
  cursor: pointer;
}
/* یلدا */
.curse-container {
  margin: 50px;
  padding: 20px;
}
.course {
  margin: 50px;
  padding: 20px;
  width: 1300px;
  margin: 0 auto;
  margin-top: 30px;
  margin-left: 100px;
}

.course__content-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.course__image {
  position: relative;
  flex: 1;
  max-width: 33%;
}

.course__image img {
  margin: -100px 0;
  margin-right: -100px;
  width: 700px;
  position: relative;
  z-index: 2;
}

.course__content {
  flex: 2;
  text-align: right;
  z-index: 10;
}

.course__title {
  font-size: 4rem;
  font: 900;
  color: #ffce31;
  margin-bottom: 10px;
}
.course_title_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#favorite-animation {
  width: 100px;
  height: 100px;
}

.course__subtitle {
  font-size: 2rem;
  margin-bottom: 10px;
  font: bold;
}

.course__tagline {
  color: #ffce31;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.course__pricing {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.course__pricing--old {
  text-decoration: line-through;
  text-decoration-color: white;
  color: #ff0f0f;
  font-size: 1.75rem;
  font-weight: bold;
}
.course__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-top: dashed rgba(255, 206, 49, 1) 0.5px;
  padding-top: 5px;
}
.course__pricing--new {
  color: #22b45c;
  font-size: 1.8rem;
  font-weight: bold;
}

.course__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
}

.course__button {
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  font-size: 14.5px;
  font-weight: 700;
  text-align: center;
  transition: background 0.3s;
}
.course__buttons__row {
  display: flex;
  width: 100%;
  gap: 13px;
}
.course__cta {
  display: inline-block;
  width: 100%;
  text-align: center;
  background: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  transition: background 0.3s;
}

.course__cta:hover {
  background: #b30000;
}

.course__button-1 {
  background-color: #ffe8e8;
  color: #ab3636;
}
.course__button-2 {
  background-color: #fff3c3;
  color: #6d5f5f;
}
.course__button-3 {
  background-color: #e8ffe8;
  color: #40ca85;
}
.course__button-4 {
  background-color: #fff7e4;
  color: #aaa637;
}
.course__button-5 {
  background-color: #ffe4f7;
  color: #aaa637;
}
.course__button-6 {
  background-color: #e8f4ff;
  color: #3867bd;
}
.course__button-7 {
  background-color: #ede8ff;
  color: #644ac1;
}
.course__button-8 {
  background-color: #e8edff;
  color: #335fb0;
}
@media (max-width: 1300px) {
  .cart {
    flex: 0 1 calc(33.333% - 30px);
  }
  .cart-container {
    padding-right: 20px;
  }
  .course {
    width: auto;
  }
}

@media (max-width: 700px) {
  .hero {
    background-image: url("./img/1.webp");
  }
  .timer {
    gap: 40px;
  }
  .offer-text h3 {
    font-size: 23px;
    font-weight: bold;
  }
  #lottie-container {
    width: 100px;
  }
  .offer-text p {
    font-size: 10px;
  }
  .cart-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cart {
    font-size: 14px;
    width: 100%;
  }
  .cart-price {
    font-size: 17px;
  }
  .cart-price svg {
    max-width: 50px;
    padding-bottom: 7px;
  }
  .cart-price .price-original::after {
    top: 8px;
  }
  .swiper-container {
    width: 350px;
    margin: 40px auto;
  }
  .footer {
    flex-direction: column;
  }
  .footer-service {
    margin-top: 20px;
    text-align: center;
    justify-items: center;
    justify-content: center;
  }
  .footer-service-comment {
    justify-items: center;
    justify-content: center;
  }
  .footer-star svg {
    margin: 0 auto;
    margin-bottom: -20px;
  }
  .mySwiper .commenter_image {
    left: 5%;
  }
  .copyright-footer {
    margin: auto;
  }
  header {
    padding: 0 10px;
  }
  header svg {
    margin-top: 22px;
    height: 30px;
  }
  .navbar {
    padding: 6px 11px;
    gap: 20px;
  }
  .nav-button {
    padding: 5px;
    font-size: 12px;
  }
  .button-up {
    bottom: -7%;
  }
}

@media (max-width: 900px) {
  .course__content-wrapper {
    flex-direction: column;
  }
  .course {
    margin: 50px 20px;
    padding: 20px 10px;
  }
  .course__header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .course__image-glow {
    position: absolute;
    left: 0;
    right: -5.625rem;
    top: -15.625rem;
    width: 18.75rem;
    height: 43.75rem;
  }
  .course__image img {
    width: 350px;
    margin-right: -120px;
  }
  .course__title {
    font-size: 1.5rem;
  }
  .course__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
  }
  .course__buttons__row {
    display: contents;
  }
  .course__button {
    font-size: 11px;
    padding: 7px 4px;
  }
}
